.border-checker {
  border: 1px solid red;
  box-sizing: border-box;
}

.bad-value {
  box-shadow: 0 0 5px 1px red;
}

.login_text_error {
  text-align: center;
  margin-top:10px;
  color: red;
  height: 20px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

